.Home{

    .homeContacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 2em 0;
        gap: 5em;
    }

    section{

        &.greeting{
            font-size: 1.2em;
            max-width: 36em;

            p{
                line-height: 1.5;
            }
        }

        &.welcome{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.6em;
            gap: 1em;     
            margin-bottom: 2em;
            background-color: transparent;
        }
    }
}