.Home{
    section{

        &.greeting{
            font-size: 1.2em;
            max-width: 36em;

            p{
                line-height: 1.5;
            }
        }

        &.welcome{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1.6em;
            gap: 1em;     
            margin-bottom: 2em;
            background-color: transparent;
            
            .profilePic{
                width: 5em;
                height: 5em;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
            }
        }
    }
}