 
h2{
    width: 100%;
    text-align: center;
    margin: 1em;
}

hr{
    border-top: 1px dotted var(--ergoface-green);
}

section.pdfViewer{

    width: 20em;

    .react-pdf__Page{
        min-width: auto !important;
        min-height: auto !important;

        .react-pdf__Page__canvas{
            width: 100% !important;
            height: auto !important;
        }
    }

    .react-pdf__Page__textContent,
    .react-pdf__Page__annotations{
        display: none;
    }
}

section.breadcrumbs{
    width: 100%;
    margin: 1em;
    margin-top: .4em;
    gap: 0.3em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a{

        &:hover{
            color: #aea033;
        }
    }

    span{
        &:last-child{
            font-weight: bold;
        }
    }
}