:root {
    --primary-color: #701515;
    --primary-color-lighter: #b85b5b;
    --primary-color-transparent: #70151523;
}

:root[data-theme="lightTheme"] {
    --footer-bg-color: #3F4043;
}

:root[data-theme="darkTheme"] {
    --footer-bg-color: #000000;
}
