:root {
    // --topNav-height: 0px;
    --primary-color: #701515;
    --primary-color-transparent: #70151523;
    --primary-color--lighter: #c58c8c;
}

:root[data-theme="lightTheme"] {
    --footer-bg-color: #3F4043;
}

:root[data-theme="darkTheme"] {

    --footer-bg-color: #000000;
}
