#FileUpload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
    section.uploadSection{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    label{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .uploadButton{
        cursor: pointer;
    }
}