header.Header{
    font-size: .9em;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 0.5em;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    a{
        text-underline-offset: .3em;

        &.active,
        &:active,
        &:hover{
            color: var(--ergoface-green);
        }
        &.active,
        &:active{
            font-weight: bold;
            text-decoration: underline;
        }
    }

    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 0.5em;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
    
        section{
            display: flex;
            justify-content: center;
            align-items: center;
            
            &.right{
                gap: 1em;
                
            }
        }
        .account{
            
            figure{
                background-image: url('../../../assets/images/icons/account.png');
                height: 2em;
                width: 2em;
                border-radius: 50%;
                position: relative;
                margin: 0 1em;
        
                &:hover{
                    filter: invert(1);
                    background-color: white;
                    
                    &::after{
                        filter: invert(1);
                    }
                }
        
                &::after{
                    position: absolute;
                    content: "myOffice";
                    top: 100%;
                    left: -50%;
                    width: 100%;
                    height: 0.5em;
                }
            }
        }
        figure{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;

            &.logo{
                font-size: .8em;
                background-image: url('../../../assets/images/ergofaceLogo.png');
                height: 4em;
                width: 22em;

                &::after{
                    content: "Mobiliário de Escritório e projectos, lda";
                    position: absolute;
                    bottom: 0em;
                    left: 6em;
                    font-size: .85em;
                }
            }
        }
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 0.1em 0.5em;
    }
}