header.Header{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 0.5em;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    a{
        text-underline-offset: .3em;

        &.active,
        &:active,
        &:hover{
            color: var(--ergoface-green);
        }
        &.active,
        &:active{
            font-weight: bold;
            text-decoration: underline;
        }
    }

    main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        flex-wrap: wrap;
        gap: 1em;
        padding-right: 5em;

        figure.logo{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../../../images/ergofaceLogo.png');
            height: 3em;
            position: relative;
            width: 20em;

            &::after{
                content: "Mobiliário de Escritório e projectos, lda";
                position: absolute;
                bottom: -0.15em;
                left: 7.2em;
                font-size: 0.75em;
            }
        }
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 0.1em 0.5em;
    }
}