@import './../Dashboard.scss';

#ProductList{
    $font-small: 14px;
    $font-medium: 16px;
    $font-large: 24px;

    .flex-2{
        flex: 2 !important;
    }

    button{
      border: none !important;
    }

    .products-area-wrapper{
      display: flex;
      flex-direction: column;
      position: relative;

      .products-header {
        display: flex;
        align-items: center;
        border-radius: 4px;
        background-color: var(--app-content-secondary-color);
        position: sticky;
        top: 100px;
      }

      &.tableView {
        
        .products-row {
          display: flex;
          align-items: center;
          border-radius: 4px;
          
          &:hover {
            box-shadow: var(--filter-shadow);
            background-color: var(--app-content-secondary-color);
          }
        }
        
        .product-cell {
            flex: 1;
            padding: 0.5em 1em;
            color: var(--app-content-main-color);
            display: flex;
            align-items: center;
            
            figure {
                width: 2em;
                height: 2em;
                border-radius: 6px;
                margin-right: .4em;
            }
        }
        
        .sort-button {
          padding: 0;
          background-color: transparent;
          border: none;
          cursor: pointer;
          color: var(--app-content-main-color);
          margin-left: .4em;
          display: flex;
          align-items: center;
          
          &:hover { color: var(--action-color); }
          svg { width: .8em; }
        }
        
        .cell-label {
          display: none;
        }
      }
      
      &.gridView {
        flex-wrap: wrap;
        flex-direction: row;
        
        .products-header {
          display: none;
        }
        
        .products-row {
          margin: .5em;
          width: calc(25% - 1em);
          background-color: var(--app-content-secondary-color);
          padding: .5em;
          border-radius: 4px;
          transition: transform .2s;
          position: relative;
          
          &:hover {
            transform: scale(1.05);
            box-shadow: var(--filter-shadow);
          }
        }
        
        .product-cell {
          color: var(--app-content-main-color);
          font-size: $font-small;
          margin-bottom: .5em;
          
          &:not(.image) {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          
          &.image  span {
            font-size: 1.1em;
            line-height: 2em;
          }
      
          figure {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 4px;
            margin-bottom: 1em;
          }

          .cell-label {
            min-width: 4em;
          }
        }
        
        .cell-label { opacity: 0.6; }
      }

      span.status {
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: .4em .6em;
        font-size: .8em;
        
        &:before {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          margin-right: .4em;
        }
        
        &.active {
          color: #2ba972;
          background-color: #2ba97233;
          
          &:before {
            background-color: #2ba972;
          }
        }
        
        &.disabled {
          color: #59719d;
          background-color: #59719d33;
          
          &:before {
            background-color: #59719d;
          }
        }
      }
    }
}