.FormFamily{
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;

    > section{
        padding: .5em;
        background-color: var(--app-bg);

        &[disabled]{
            border: 1px solid var(--ergoface-green);
            input {
                color: var(--ergoface-green);
            }
        }

        *{
            border: none;
            background-color: transparent;
        }
    }
    button{
        margin-top: 1em;
        background-color: transparent;
    }
}