@import './../Dashboard1.scss';

.Settings{

    .PasswordUpdate,
    .PasswordForgot{
        max-width: 22em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .UserProfileForm{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 2em;
        max-width: 30em;
    }
    section{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
    }

    button{
        @extend .actionButton;
        width: 100%;
        margin-top: 1em;
    }

    label{
        min-width: 5em;
    }
    input,
    textarea{
        padding: 0.2em 0.5em;
        font-size: 1em;
    }
    textarea{
        width: 100%;
        resize: vertical;
        outline: none;
        min-height: 6em;
        max-height: 10em;
    }

    .FileUpload{
        margin-bottom: 2em;

        .uploadButton{
            @extend .actionButton;
        }

        .images{
            display: flex;
            gap: 1em;
            margin: 1em 0;

            .image{

            }
        }
    }
}