.FamilyBreadCrumbs{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    padding: 1em;
    
    > div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        span{
            margin: 0 0.2em;
        }
    }

    div.breadcrumb{
        cursor: pointer;
        &:hover{
            color: var(--ergoface-green);
        }
    }

    span{
        &:last-child{
            font-weight: bold;
            color: var(--ergoface-green);
        }
    }
}